
body {
  background-color: #2e2e2e;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='105' viewBox='0 0 80 105'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='death-star' fill='%23ff0000' fill-opacity='0.7'%3E%3Cpath d='M20 10a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm15 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zM20 75a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zm30-65a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm0 65a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zM35 10a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zM5 45a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zm60 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
font-weight: bold;
}

h1 {
  text-align: center;
  background-color: black;
  color: white;
}

.ship-cards {
  display: flex;
  flex-wrap: wrap;
  width: clamp(400px, 80vw, 1200px);
  margin: 25% auto;
  justify-content: center;
}

.ship-card, .ship-details-card {
  border-top-left-radius: 25px;
  border-bottom-right-radius: 25px;
  background-color: gray;
  color: white;
  margin:15px;
  padding: 20px;
  font-size: 2rem;
}

.ship-details-card {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 2rem;
  width: 50%;
  height: 200px;
  margin: 30% auto;
}

.ship-card:hover {
  background-color: rgb(70, 70, 70);
}

a {
  text-decoration: none;
}